apiVersion: apps/v1
kind: Deployment
metadata:
  name: automotive-laravel
  labels:
    app: automotive-laravel
spec:
  replicas: 2
  selector:
    matchLabels:
      app: automotive-laravel
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: automotive-laravel
    spec:
      containers:
      - name: automotive-laravel
        image: automotive-laravel:v1
        ports:
        - containerPort: 80
        env:
        - name: APP_ENV
          value: "production"
        - name: APP_DEBUG
          value: "false"
        - name: APP_KEY
          value: "base64:IkAyQdrOnq93NTNusPYNPkKGKkLRbwa2UAmi7mn2Kdg="
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 10
          periodSeconds: 5
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 15
          periodSeconds: 10

